/* * {
  border: 4px solid black;
} */
body {
  /* Add Attack on Titan-inspired background image */
  background-image: url("assets/aot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 50px 20px;
  color: #fff;
}
#background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: -1;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.search-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}

/* Add styling for the search box */

input[type="text"] {
  color: white;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid white;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}
input[type="text"]::placeholder {
  color: white;
}
button {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: rgba(118, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cc0000;
}

/* Add styling for the search results */
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.result {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 460px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 30px;
}
.result img {
  width: 30%;
  border-radius: 15px;
}
.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  column-gap: 10px;
}
.names {
  display: flex;
  justify-content: center;
  align-items: end;
}
.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.ageSex {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

.result-item {
  max-width: 600px;
  margin: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.result-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.result-item p {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 600px) {
  /* Adjust the search box width for smaller screens */
  input[type="text"] {
    width: 100%;
  }
  .search-container {
    flex-direction: column;
  }

  /* Adjust the font size of the search results for smaller screens */
  /* .result-item h3 {
    font-size: 20px;
  }

  .result-item p {
    font-size: 14px;
  } */
}
